.animeBody{
    width: 100%;
    display: block;
    padding: 60px 20px 60px 20px;
    
    
    
}
.animeBody .halfs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.animeBody .halfs div{
    text-align: center;
}
.animeBody .halfs .desc{
    text-align: left;
}
.animeBody .halfs .title{
    font-size: 24px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
}
.animeBody .halfs .info{
    
}
.animeBody .halfs ul{
    width: 100%;
}
.animeBody .halfs ul li{
    padding: 8px 10px;
}


.APBbutton{
    width: 100%;

}
.APBbuttonsec{
    width: 100%;
    background-color: var(--button-second-color);
    border-color: var(--button-second-color);
}
.buttonSection{
    display: block;
}
.buttonSection button{
  margin-top: 10px;
}
@media (min-width: 1024px) {
  .animeBody{
    padding: 0 7vw;
    display: flex;
  }
  .animeBody .halfs{
    max-width: 2000px;
    width: 30vw;
  }
  .animeBody .halfs img{
    width: 300px;
    height: 400px;
    margin-top: 35px;

  }
  .buttonSection{
    display: flex;
    width: 100%;
    gap: 15px;
  }
  .animeBody .rightHalf{
    width: 80vw;
  }
  .animeBody .halfs .title{
    text-align: left;
  }
}
