.list{
    display: block !important;
    position: fixed !important;
    left: 0 !important;
    top: 50px !important;  
    width: 80vw !important;
    padding: 10px !important;
    background-color: var(--surface) !important;
    max-width: 1000px;

}
.list li{
    font-size: 12px;
    width: 80vw !important;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    flex-wrap: wrap;
}
.list li img{
    margin-right: 10px;
    width: 20px;
    height: 40px;
}