.CommentForm{
    width: 100%;
    
}

.CommentForm .title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    
}
.CommentForm textarea{
    color: white;
    resize: none;
    width: 100%;
    height: 150px;
    border-color: var(--background);
    background-color: var(--background);
}