.CommentsList{
    background-color: var(--surface);
    padding: 20px;
    margin-top: 50px;
}

.CommentsList .ListTitle{
    font-size: 16px;
    font-weight: bold;
    padding-top: 20px;

}
@media (min-width: 1024px) {
  .CommentsList {
    padding: 20px 7vw;
  }
}