header{
    z-index: 300;
    width: 100vw;
    position: fixed;
    font-weight: bold;
    padding: 15px 0;
    background-color: var(--surface);
}
header .sec{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
header .sec .logo{
    padding-top: 15px;
    padding-right: 20px;
    display: none;
}
header .sec ul{
    margin-top: 10px;
    width: max-content;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    gap: 10px;
    
}
header .sec ul li {
    white-space: nowrap ;
    width: max-content;
    margin: 0 10px;
    padding: 5px 0;
    cursor: pointer;
    
}
header .sec ul li a{
    transition: 200ms;
}
header .sec ul li a:hover{
    color: white;
}
header .sec ul .link{
    color: var(--text-muted);
}
header .sec ul .linkPick{
    color: var(--text-primary);
}
header .sec input{
    
    margin-left: 10px;
}
header .sec .rightBar{
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    gap: 5px;

}
input {
    height: 35px;
    border-radius: 10px;
    border-color: var(--surface-hover);
    background-color: var(--background);
}
@media (min-width: 1024px) {
    header{
        padding: 15px 7vw;
    }
    header .sec .logo{
        display: block;
    }
    header .sec input{
        margin-left: 0;
    }
}