.AnimeCard {
    color: white;
    width: 150px;

}   
.AnimeCard .imgSection{
    width: 150px;
    height: 200px;
    
}
.AnimeCard .imgSection img{
    width: 100%;
    height: 100%;
}
@media (min-width: 1024px) {
    .AnimeCard {
        
        width: 200px;

    } 
    .AnimeCard .imgSection{
        width: 200px;
        height: 250px;
        
    }  
}