.AnimeList{
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 130px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
@media (min-width: 1024px) {
  .AnimeList {
    padding: 130px 7vw;
  }
}