:root{
    --background: #0f0f0f;   
    --surface: #151515; 
    --surface-hover: #1e1e1e;   
    --border:#2a2a2a;     
    --text-primary: #e0e0e0;     
    --text-secondary: #a0a0a0;  
    --text-muted: #6b6b6b;    
}
*{
    font-size: 16px;

}
body{
    background-color: var(--background);
    color: var(--text-primary);
}